/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

h1 {
  margin-top: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.fight-interface {
  display: none;
}

.opponent-image {
  height: 300px;
  width: 300px;
  object-fit: cover;
  object-position: center;
}

.player-character,
.foe {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.player-character {
  background-color: teal;
}

.foe {
  bottom: 200px;
  right: 80px;
  background-color: tomato;
}